node_modules/
.env
*.log
*.zip
.DS_Store
Thumbs.db
vendor/

**/backup*/**

Backups/
Plans and reports/
Ref Plugins/
WPCode snippets/

Points/
eh-authorize-net/
pymntpl-paypal-woocommerce/
woo-stripe-payment/

# allow GitHub Actions workflow
!.github/
!.github/workflows/
!.github/workflows/deploy.yml




